@model EcommerceClient.Models.Product
<div class="container p-4 border">
    <div class="row">
        <div class="col">
            <h1 class="text-primary">Create A Product</h1>
        </div>
    </div>
    <form>
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name of product" asp-for="Name" />
        <label class="mt-4">Description</label>
        <input class="form-control" type="text" placeholder="Description of product" asp-for="Description" />
        <label class="mt-4">Price</label>
        <input class="form-control" type="number" placeholder="Price of product" asp-for="Price" step="0.01" />
        <label class="mt-4" >Category</label>
        <br />
        @Html.DropDownList("EnumDropDown", ViewBag.EnumList as SelectList)
        <br />

        <a class="btn btn-primary mt-4" type="submit">Create Product</a>
    </form>
</div>